<div class="row">
    <div class="col-sm-4">
      <div class="profilePic animate"></div>
    </div>
    <div class="col-sm-8">
      <div class="comment br animate"></div>
      <div class="comment br animate"></div>
    </div>
    <div class="col-sm-12">
      <div class="comment br animate"></div>
  <div class="comment br animate"></div>
  <div class="comment br animate"></div>
  <div class="comment br animate"></div>
  <br>
  <div class="comment br animate"></div>
  <div class="comment br animate"></div>
  <div class="comment br animate"></div>
  <div class="comment br animate"></div>
    </div>
  </div>
  <!--<div class="comment br animate w80"></div>-->
