<!-- Hero Section Begin -->
<section class="hero-section">
  <div class="container">
    <div class="hs-slider owl-carousel">
      <div class="hs-item set-bg" data-setbg="./assets/img/hero/hero-1.jpg">
        <div class="row">
          <div class="col-lg-12">
            <div class="hc-inner-text">
              <div class="hc-text">
                <h4>Balaji Symphony</h4>
                <p><span class="icon_pin_alt"></span> Panvel, Navi Mumbai</p>
                <div class="label">For Rent</div>
                <h5>$ 65.0<span>/month</span></h5>
              </div>
              <div class="hc-widget">
                <ul>
                  <li><i class="fa fa-object-group"></i> 2, 283</li>
                  <li><i class="fa fa-bathtub"></i> 03</li>
                  <li><i class="fa fa-bed"></i> 05</li>
                  <li><i class="fa fa-automobile"></i> 01</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hs-item set-bg" data-setbg="./assets/img/hero/hero-2.jpg">
        <div class="row">
          <div class="col-lg-12">
            <div class="hc-inner-text">
              <div class="hc-text">
                <h4>Balaji Symphony</h4>
                <p><span class="icon_pin_alt"></span> Panvel, Navi Mumbai</p>
                <div class="label">For Rent</div>
                <h5>$ 65.0<span>/month</span></h5>
              </div>
              <div class="hc-widget">
                <ul>
                  <li><i class="fa fa-object-group"></i> 2, 283</li>
                  <li><i class="fa fa-bathtub"></i> 03</li>
                  <li><i class="fa fa-bed"></i> 05</li>
                  <li><i class="fa fa-automobile"></i> 01</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hs-item set-bg" data-setbg="./assets/img/hero/hero-3.jpg">
        <div class="row">
          <div class="col-lg-12">
            <div class="hc-inner-text">
              <div class="hc-text">
                <h4>Balaji Symphony</h4>
                <p><span class="icon_pin_alt"></span> Panvel, Navi Mumbai</p>
                <div class="label">For Rent</div>
                <h5>$ 65.0<span>/month</span></h5>
              </div>
              <div class="hc-widget">
                <ul>
                  <li><i class="fa fa-object-group"></i> 2, 283</li>
                  <li><i class="fa fa-bathtub"></i> 03</li>
                  <li><i class="fa fa-bed"></i> 05</li>
                  <li><i class="fa fa-automobile"></i> 01</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->

<!-- Property Section Begin -->
<section class="property-section latest-property-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h4>Propiedades Recientes</h4>
        </div>
      </div>
    </div>
    <div *ngIf="casas" class="row">
      <div *ngFor="let casa of casas" class="col-lg-4 col-md-6">

      <app-card-shop  [casa]="casa" [user]="user"></app-card-shop>
      </div>


      <div class="col-lg-12">
        <div class="loadmore-btn" routerLink="/listadocasa"
        routerLinkActive="active">
          <a >Ver más propiedades</a>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Property Section End -->

<!-- Chooseus Section Begin -->
<section
  class="chooseus-section spad set-bg"
  data-setbg="./assets/img/chooseus/chooseus-bg.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="chooseus-text">
          <div routerLink="/acerca"
          routerLinkActive="active" class="section-title pointer">
            <h4>¿Por qué elegirnos?</h4>
          </div>
          <p>
            Lorem Ipsum has been the industry’s standard dummy text ever since
            the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.
          </p>
        </div>
        <div class="chooseus-features">
          <div class="cf-item">
            <div class="cf-pic">
              <img src="./assets/img/chooseus/chooseus-icon-1.png" alt="" />
            </div>
            <div class="cf-text">
              <h5>Find your future home</h5>
              <p>
                We help you find a new home by offering a smart real estate.
              </p>
            </div>
          </div>
          <div class="cf-item">
            <div class="cf-pic">
              <img src="./assets/img/chooseus/chooseus-icon-2.png" alt="" />
            </div>
            <div class="cf-text">
              <h5>Buy or rent homes</h5>
              <p>Millions of houses and apartments in your favourite cities</p>
            </div>
          </div>
          <div class="cf-item">
            <div class="cf-pic">
              <img src="./assets/img/chooseus/chooseus-icon-3.png" alt="" />
            </div>
            <div class="cf-text">
              <h5>Experienced agents</h5>
              <p>Find an agent who knows your market best</p>
            </div>
          </div>
          <div class="cf-item">
            <div class="cf-pic">
              <img src="./assets/img/chooseus/chooseus-icon-4.png" alt="" />
            </div>
            <div class="cf-text">
              <h5>List your own property</h5>
              <p>Sign up now and sell or rent your own properties</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Chooseus Section End -->

<section class="property-section latest-property-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h4>Siguenos En:</h4>
        </div>
      </div>
    </div>
    <div  class="row">
      <div class="col-lg-12 contact-info">
        <div class="hn-social row">
          <div class=" col-lg-1 ci-item">
            <div class="ci-icon">
              <a href="#" class="social-ntw"><i class="fa fa-facebook"></i></a>
            </div>
          </div>
          <div class="col-lg-1 ci-item">
            <div class="ci-icon">
              <a href="#" class="social-ntw"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
          <div class="col-lg-1 ci-item">
            <div class="ci-icon">
              <a href="#" class="social-ntw"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
          <div class="col-lg-1 ci-item">
            <div class="ci-icon">
              <a href="#" class="social-ntw"><i class="fa fa-instagram"></i></a>
            </div>
          </div>
          <div class="col-lg-1 ci-item">
            <div class="ci-icon">
              <a href="#" class="social-ntw"><i class="fa fa-pinterest-p"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




