.caja{
  height: 300px;
  border-bottom: 3px solid #f5f5f5;
  border-top: 3px solid #f5f5f5;
}
.separacion-h6{
  margin-top: 7rem;
  color: #666666;
}
.select-li:hover{
  background-color: #f5f5f5;
}

.profilePic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #00C89E;
  cursor: pointer;
}
.bgf-warn{
  background-color: #ffc107 !important;
}

.propiedad-circle{
  font-size: 30px;
  margin-top: 0.6rem;
  color: white;
}
.propiedad-circle1{
  font-size: 25px;
  margin-top: 0.8rem;
  color: white;
}
.bg-success{
  background-color: #00C89E;
  color: white;
}
.bg-warning{
  color: white !important;
}
.point{
  cursor: pointer;
}
.fuente{
  font-size: 14px;
}
.separacion{
  margin: 1rem;
}
.link-c{
  color: #00C89E;
  font-weight: bold;
}

.select-filter{
  color: #00C89E;
  font-weight: bold;
}

.h6-v{
  color: #666666;
}
.ico-v{
  font-size: 40px;
}
.empty{
  background-color: #f5f5f5;
}
