<!-- Property Submit Section Begin -->
<section class="property-submit-section spad">
  <div class="container">
    <div class="row">
      <div class="col col-md-6 offset-md-3">
        <div class="property-submit-form">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="text-center row">
              <div class="col-md-12">
                <img routerLink="/" routerLinkActive="active" class="pointer" src="../../../../assets/img/logo.png" alt="" />
                <br />
                <br />
                <h4>Cambiar Contraseña</h4>
              </div>
              <ng-container *ngIf="!show; else elseTemplate">
                <div class="col-md-12">
                  <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    formControlName="password"
                    placeholder="Ingrese la nueva contraseña."
                    required
                    autofocus
                  />
                  <div
                    *ngIf="
                      getControl.password.touched && getControl.password.invalid
                    "
                    class="text-danger"
                  >
                    <div *ngIf="getControl.password.errors?.required">
                      Este campo es obligatorio.
                    </div>
                  </div>
                  <br />
                  <br />
                </div>
                <div class="col-md-12">
                  <input
                    type="password"
                    id="inputPasswordConf"
                    name="passwordconf"
                    class="form-control"
                    formControlName="passwordconf"
                    placeholder="Confirme la contraseña."
                    required
                    autofocus
                  />
                  <span
                    class="text-danger"
                    *ngIf="
                      getControl.passwordconf.touched &&
                      getControl.passwordconf.errors?.required
                    "
                  >
                    Es necesario confirmar la contraseña.
                  </span>
                  <span
                    class="text-danger"
                    *ngIf="
                      getControl.passwordconf.touched &&
                      getControl.passwordconf.errors?.passwordMismatch
                    "
                  >
                    Las contraseñas no coinciden.
                  </span>
                  <br />
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <p>La contraseña se cambio exitosamente. Proceda a iniciar sesión.</p>
              </ng-template>

            </div>

            <ng-container *ngIf="!show; else elseTemplateN">
              <div class="col-md-12 padding-zero">
                <br />
                <div *ngIf="!loading; then thenBlock1; else elseBlock1"></div>
                <ng-template #thenBlock1
                  ><button type="submit" class="site-btn">
                    Cambiar
                  </button></ng-template
                >
                <ng-template #elseBlock1
                  ><button type="button" class="site-btn" disabled>
                    <span
                      class="spinner-grow spinner-grow-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    <span
                      class="spinner-grow spinner-grow-sm"
                      role="status"
                      aria-hidden="true"
                    ></span>
                    <span
                      class="spinner-grow spinner-grow-sm"
                      role="status"
                      aria-hidden="true"
                    ></span></button
                ></ng-template>
                <br />
                <br />
                <hr />
                <div>
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="fa fa-heart" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
            </ng-container>
            <ng-template #elseTemplateN>
              <div class="col-md-12 padding-zero">
                <br />
                <button type="button" class="site-btn" routerLink="/auth/login" routerLinkActive="active">
                  Iniciar Sesión
                </button>
                <br />
                <br />
                <hr />
                <div>
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                      document.write(new Date().getFullYear());
                    </script>
                    All rights reserved | This template is made with
                    <i class="fa fa-heart" aria-hidden="true"></i> by
                    <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
            </ng-template>


          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Property Submit Section End -->
