<!-- Breadcrumb Section Begin -->
<section
  class="breadcrumb-section spad set-bg"
  data-setbg="./assets/img/breadcrumb-bg.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>Listado de Citas</h4>
          <div class="bt-option">
            <a href="./index.html"><i class="fa fa-home"></i> Inicio</a>
            <span>Listado de Citas</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<section class="property-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title">
          <h4>Listado de Citas</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="nice-select" tabindex="0" style="width: 100% !important">
          <span class="current">Pendientes</span>
          <ul class="list" style="width: 100% !important">
            <li
              data-value="Aprobada"
              class="option"
              (click)="onSelectEstado('Aprobada')"
            >
              Aprobadas
            </li>
            <li
              data-value="Pendiente"
              class="option"
              (click)="onSelectEstado('Pendiente')"
            >
            Pendientes
            </li>
          </ul>
        </div>
        <br>

      </div>

      <div class="col-md-6">
        <br>

      </div>
      <div class="col-md-3">
        <input
          type="text"
          id="buscar"
          placeholder="Buscar"
          name="buscar"
          class="form-control"
          (keyup)="search($event)"
        />
        <br>

      </div>
      <div class="col-md-12">
        <table class="table table-borderless table-responsive-xl table-striped">
          <thead>
            <tr>
              <th>No.</th>
              <th>Propiedad</th>
              <th>Solicitante</th>
              <th class="point" id="estado" (click)="sortTable($event)">
                <i
                  [ngClass]="
                    sortHeadCol.get('estado')
                      ? 'fa fa-arrow-up'
                      : 'fa fa-arrow-down'
                  "
                ></i>
                Estado
              </th>
              <th class="point" id="fecha" (click)="sortTable($event)">
                <i
                  [ngClass]="
                    sortHeadCol.get('fecha')
                      ? 'fa fa-arrow-up'
                      : 'fa fa-arrow-down'
                  "
                ></i>
                Fecha
              </th>
              <th class="point" id="createdAt" (click)="sortTable($event)">
                <i
                  [ngClass]="
                    sortHeadCol.get('createdAt')
                      ? 'fa fa-arrow-up'
                      : 'fa fa-arrow-down'
                  "
                ></i>
                Creada
              </th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <ng-template ngFor let-item [ngForOf]="citasCurrent" let-i="index">
              <tr>
                <td>{{ i + 1 + (page - 1) * pageSize }}</td>
                <td>
                  <a
                    routerLink="/dashboard/detallescasa/{{ item.casa._id }}"
                    routerLinkActive="active"
                    >Ver propiedad</a
                  >
                </td>
                <td><a class="point" (click)="openModalDialogDeletePropiedad(content, item.user)">{{item.user.name}}</a></td>
                <td
                  [ngClass]="
                    item.estado == 'Pendiente'
                      ? 'text-warning'
                      : 'text-success'
                  "
                >
                  <b>{{ item.estado }}</b>
                </td>
                <td>{{ parserFecha(item.fecha) }}</td>
                <td>{{ parserFecha(item.createdAt) }}</td>
                <td>
                  <a
                    routerLink="/dashboard/detallescita/{{ item._id }}"
                    routerLinkActive="active"
                    ><i class="fa fa-search"></i
                  ></a>
                </td>
              </tr>
            </ng-template>
          </tbody>
          <tfoot>
            <tr>
              <th>No.</th>
              <th>Detalles</th>
              <th>Estado</th>
              <th>Fecha</th>
              <th>Creada</th>
              <th>Acciones</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="col-md-9"></div>
      <div class="col-md-3">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <ng-container *ngIf="isDisablePrev; else elseTemplate">
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true"
                  >Anterior</a
                >
              </li>
            </ng-container>
            <ng-template #elseTemplate>
              <li class="page-item point" (click)="onPrev($event)">
                <a class="page-link">Anterior</a>
              </li>
            </ng-template>

            <li
              *ngFor="let item of currentP; index as i"
              [ngClass]="item == page ? 'page-item active point' : 'page-item point'"
              aria-current="page"
              (click)="onSelectPage($event, item)"
            >
              <a class="page-link">{{ item }}</a>
            </li>
            <ng-container *ngIf="isDisableNext; else elseTemplate1">
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1" aria-disabled="true"
                  >Siguiente</a
                >
              </li>
            </ng-container>
            <ng-template #elseTemplate1>
              <li class="page-item point" (click)="onNext($event)">
                <a class="page-link">Siguiente</a>
              </li>
            </ng-template>
          </ul>
        </nav>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</section>

<ng-template #content let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Datos del Solicitante</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <img [src]="userSol.image" alt="">
      </div>
      <div class="col-md-6">
        <div>
          <h6>Nombre:</h6>
          <p>{{userSol.name}}</p>
        </div>
        <div>
          <h6>Email:</h6>
          <p>{{userSol.email}}</p>
        </div>
        <hr>
        <div>
          <h6>Registrado:</h6>
          <p class="text-success">{{parserFecha(userSol.createdAt) }}</p>
        </div>
        <div>
          <h6>Actualizado:</h6>
          <p class="text-success">{{parserFecha(userSol.updatedAt) }}</p>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <a class="primary-btn" (click)="modal.close('Close click')">Cerrar</a>

  </div>

</ng-template>
