<!-- Breadcrumb Section Begin -->
<section
  class="breadcrumb-section spad set-bg"
  data-setbg="./assets/img/breadcrumb-bg.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h4>Detalles de la Propiedad</h4>
          <div class="bt-option">
            <a href="./index.html"><i class="fa fa-home"></i> Inicio</a>
            <span>Detalles de la Propiedad</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Property Details Section Begin -->
<section  class="property-details-section spad non-pad-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <app-pagina-anterior></app-pagina-anterior>
      </div>
      <div class="col-lg-12">
        <div class="pd-text">
          <div class="row">
            <div class="col-lg-10">
              <div class="pd-title">
                <div class="pt-price">{{ casa.precio }} CUP</div>
                <h3>{{ casa.title }}</h3>
                <p>
                  <span class="icon_pin_alt"></span> {{ casa.provincia }},
                  {{ casa.municipio }}, {{ casa.localidad }}
                </p>
              </div>
            </div>
            <div class="col-lg-1">
              <div class="pd-social">
                <div
                  class="label c-green"
                  (click)="openModalDialogAddVenta(addventa, casa._id)"
                >
                  <a><i class="fa fa-dollar fa-custom"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-1">
              <div class="pd-social">
                <div class="label">
                  <a
                    routerLink="/dashboard/editarcasa/{{ casa._id }}"
                    routerLinkActive="active"
                    ><i class="fa fa-edit fa-custom"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="pd-board">
            <div class="tab-board">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    data-toggle="tab"
                    href="#tabs-1"
                    role="tab"
                    >Información General</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    data-toggle="tab"
                    href="#tabs-2"
                    role="tab"
                    >Descripción</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    data-toggle="tab"
                    href="#tabs-3"
                    role="tab"
                    >Datos del Propietario</a
                  >
                </li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <div class="tab-pane active" id="tabs-1" role="tabpanel">
                  <div class="tab-details">
                    <ul class="left-table">
                      <li>
                        <span class="type-name">Tipo de Propiedad</span>
                        <span class="type-value">{{ casa.tipoPropiedad }}</span>
                      </li>
                      <li>
                        <span class="type-name">Precio</span>
                        <span class="type-value">{{ casa.precio }} CUP</span>
                      </li>
                      <li>
                        <span class="type-name">Baños</span>
                        <span class="type-value">{{ casa.cantBannos }}</span>
                      </li>
                      <li>
                        <span class="type-name">Cuartos</span>
                        <span class="type-value">{{ casa.cantCuartos }}</span>
                      </li>
                      <li>
                        <span class="type-name">¿Tiene Garaje?</span>
                        <span class="type-value">{{
                          casa.tieneGaraje ? "Si" : "No"
                        }}</span>
                      </li>
                      <li>
                        <span class="type-name">¿Tiene Patio?</span>
                        <span class="type-value">{{
                          casa.tienePatio ? "Si" : "No"
                        }}</span>
                      </li>
                      <li>
                        <span class="type-name">¿Tiene Carpoch?</span>
                        <span class="type-value">{{
                          casa.tieneCarpoch ? "Si" : "No"
                        }}</span>
                      </li>
                    </ul>
                    <ul class="right-table">
                      <li>
                        <span class="type-name">Provincia</span>
                        <span class="type-value">{{ casa.provincia }}</span>
                      </li>
                      <li>
                        <span class="type-name">Municipio</span>
                        <span class="type-value">{{ casa.municipio }}</span>
                      </li>
                      <li>
                        <span class="type-name">Localidad</span>
                        <span class="type-value">{{ casa.localidad }}</span>
                      </li>
                      <li>
                        <span class="type-name"></span>
                        <span class="type-value"></span>
                      </li>
                      <li>
                        <span class="type-name"></span>
                        <span class="type-value"></span>
                      </li>
                      <li>
                        <span class="type-name"></span>
                        <span class="type-value"></span>
                      </li>
                      <li>
                        <span class="type-name"></span>
                        <span class="type-value"></span>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="tab-pane" id="tabs-2" role="tabpanel">
                  <div class="tab-desc">
                    <p>{{ casa.description }}</p>
                  </div>
                </div>
                <div class="tab-pane" id="tabs-3" role="tabpanel">
                  <div class="tab-details">
                    <ul class="left-table">
                      <li>
                        <span class="type-name">Nombre</span>
                        <span class="type-value">{{ casa.nombre }}</span>
                      </li>
                      <li>
                        <span class="type-name">Apellidos</span>
                        <span class="type-value">{{ casa.apellidos }}</span>
                      </li>
                      <li>
                        <span class="type-name">Teléfono</span>
                        <span class="type-value">{{
                          casa.numTelefonoPropietario
                        }}</span>
                      </li>
                    </ul>
                    <ul class="right-table">
                      <li>
                        <span class="type-name"></span>
                        <span class="type-value"></span>
                      </li>
                      <li>
                        <span class="type-name"></span>
                        <span class="type-value"></span>
                      </li>
                      <li>
                        <span class="type-name"></span>
                        <span class="type-value"></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pd-widget">
            <h4>Imagenes de la Propiedad</h4>
            <ngb-carousel *ngIf="casa.img && isLoadImg">
              <ng-template *ngFor="let url of casa.img" ngbSlide>
                <div class="picsum-img-wrapper">
                  <img [src]="url" alt="Random first slide" />
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Property Details Section End -->

<ng-template #addventa let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Registrar Venta de la Propiedad</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <p for="fecha" class="left">
          <b>Precio de Venta de la Propiedad (CUP):</b>
        </p>
        <input
          type="number"
          id="precioVenta"
          name="precioVenta"
          class="form-control"
          (keyup)="onChangePrecioVenta($event)"
        />
        <br />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="primary-btn" (click)="modal.close('Close click')">Cancelar</a>
    <button
      type="button"
      ngbAutofocus
      class="site-btn inlb"
      (click)="registrarVenta()"
    >
      Registrar
    </button>
  </div>
</ng-template>
